/*
    Resets
*/

html,body,div,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,pre,form,p,blockquote,fieldset,input { margin: 0; padding: 0; }
h1,h2,h3,h4,h5,h6,pre,code,address,caption,cite,code,em,th { font-size: 1em; font-weight: normal; font-style: normal; }
ul,ol { list-style: none; }
fieldset,img { border: none; }
caption,th { text-align: left; }
table { border-collapse: collapse; border-spacing: 0; }
.clear { clear: both;}
div { position: relative; }

/*
    Main
*/

body {
    font-family:Arial, Helvetica, sans-serif;
    color: #1C4094;
    background: url('gfx/bg_lightblue.jpg') repeat scroll 0 0 rgba(0, 0, 0, 0);
}
#wrapper {
    width: 640px;
    min-height: 960px;
    background-color: #fff;
    margin: 0 auto;
    overflow-x: hidden;
}
a {
    color: #1C4094;
    text-decoration: none;
}

/*
    Header
*/

#header {
    background: url('gfx/tiles-norepeatx.png') no-repeat scroll 50% 0 #01153E;
    height: 86px;
    z-index: 999;
}
#inner_header {
    width: 978px;
    height: 86px;
    margin: 0 auto;
}
#inner_header ul {
    height: 63px;
    padding: 23px 0 0 220px;
}
#inner_header ul li {
    float: left;
}
#inner_header ul li a, #inner_header ul li span {
    border-radius: 3px 3px 0 0;
    color: #FFFFFF;
    display: block;
    font-size: 15px;
    height: 43px;
    line-height: 43px;
    padding: 0 30px 20px;
    text-decoration: none;
}
#inner_header ul li span {
    padding-right: 10px;
    padding-left: 87px;
}
#inner_header ul li a:hover {
    text-decoration: underline;
}
#inner_header ul li.active a {
    background: none repeat scroll 0 0 #FFFFFF;
    color: #1C4094;
}
#toplogo {
    height: 39px;
    left: 15px;
    position: absolute;
    top: 23px;
    width: 170px;
}

/*
    Login
*/

#login_holder {
    width: 400px;
    margin: 0 auto;
    padding: 55px;
    margin-top: 80px;
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 6px 6px 6px 6px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    color: #1C4094;
}
#login_holder h1 {
    color: #1C4094;
    font-size: 29px;
    line-height: normal;
    margin-bottom: 15px;
}
#login_holder input[type="password"] {
    background-position: left top;
    background-repeat: no-repeat;
    border-radius: 3.5px 3.5px 3.5px 3.5px;
    height: 36px;
    width: 389px;
    color: #1C4094;
    font-size: 15px;
    height: 36px;
    line-height: 36px;
    padding-left: 5px;
    padding-right: 5px;
}
#login_submit_holder {
    width: 400px;
    height: 40px;
    text-align: right;
    padding-top: 20px;
}
#login_submit_holder input {
    border: 1px solid #8CC7ED;
    border-radius: 6px 6px 6px 6px;
    cursor: pointer;
    height: 38px;
    padding-left: 15px;
    padding-right: 15px;
    color: #d4e5f5;
    background-color: #1c3f93;
    font-size: 16px;
    font-weight: bold;
}

/*
    Map
*/

#map {
    width: 100%;
}
.map-overlay {
    width: 340px;
    height: 200px;
    padding: 20px;
}
.map-overlay h2 {
    font-size: 23px;
    font-weight: bold;
    height: 69px;
    line-height: 69px;
}
.map-overlay p {
    font-size: 14px;
    line-height: 23px;
}
.map-overlay input {
    border: 1px solid #8CC7ED;
    border-radius: 6px 6px 6px 6px;
    cursor: pointer;
    height: 40px;
    padding-left: 7px;
    padding-right: 7px;
    color: #d4e5f5;
    background-color: #1c3f93;
    font-size: 19px;
    font-weight: bold;
    margin-top: 15px;
}
.map-overlay input.push_right {
    margin-right: 45px;
}
.map-overlay input.red {
    background-color: #E1A3AE;
    border: 1px solid #E1778A;
    color: red;
}
#map_controlls {
    position: absolute;
    left: 110px;
    top: 110px;
    width: 300px;
    height: 200px;
    background-color: #fff;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    border-radius: 6px 6px;
    z-index: 999;
    padding: 20px;
}
#map_controlls h2 {
    color: #1C4094;
    font-size: 29px;
    line-height: normal;
    margin-bottom: 20px;
}
#map_controlls input[type="button"] {
    background-color: #1C3F93;
    border: 1px solid #8CC7ED;
    border-radius: 6px 6px 6px 6px;
    color: #D4E5F5;
    cursor: pointer;
    font-size: 19px;
    font-weight: bold;
    height: 40px;
    padding-left: 7px;
    padding-right: 7px;
    position: absolute;
    top: 18px;
    right: 20px;
}
#map_controlls input[type="button"].off {
    background-color: #E1A3AE;
    border: 1px solid #E1778A;
    color: red;
}
#map_controlls p {
    color: #4D4D4D;
    font-size: 19px;
    line-height: 20px;
    margin-bottom: 15px;
}
#speed_holder {
    height: 16px;
    width: 200px;
    position: absolute;
    right: 50px;
    top: 2px;
}
#speed_val {
    position: absolute;
    right: 1px;
    top: 1px;
}

/*
    Chose system
*/

li.system_holder {
    width: 216px;
}
li.system_holder_text.off {
    display: none;
}
#system_holder {
    display: none
}
#system_holder.on {
    display: block;
}
#chose_system, #chose_system_outer {
    width: 216px;
    height: 29px;
    position: relative;
}
#chose_system {
    position: absolute;
    left: 0px;
    top: 9px;
}
#chose_system .selectFront {
    height: 29px;
    line-height: 29px;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 215px;
}
#chose_system .selectFront span {
    background: url('gfx/selectFront.png') no-repeat scroll right center #FFFFFF;
    border-radius: 8px 8px 8px 8px;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4) inset;
    color: #808080;
    display: block;
    font-size: 14px;
    height: 29px;
    line-height: 29px;
    overflow: hidden;
    padding: 0 25px 0 8px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 182px;
}
#chose_system  .selectFront select {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: medium none;
    height: 29px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    background-color: #fff;
}

/*
    Main
*/

#main {
    width: 868.5px;
    margin: 0 auto;
    background-color: #fff;
    padding: 55px;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    border-bottom-left-radius: 6px 6px;
    border-bottom-right-radius: 6px 6px;
}
#main h1 {
    color: #1C4094;
    font-size: 29px;
    line-height: normal;
    margin-bottom: 15px;
}
#main p {
    color: #4D4D4D;
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 15px;
}